{% extends 'base.html.twig' %}

{% block title %}{{ site_name }}: {% trans %}Log in!{% endtrans %}{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>{% trans %}Sign-in{% endtrans %}</h2>

                <ol>
                    <li><a href="{{ path('home') }}">{% trans %}Home{% endtrans %}</a></li>
                    <li>{% trans %}Sign-in{% endtrans %}</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row d-flex justify-content-center py-5">

                <div class="col-4 mb-4">

                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                {% trans %}You are logged in as{% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">{% trans %}Please sign in{% endtrans %}</h1>
                        <input type="email" value="{{ last_username }}" name="email" class="form-control mb-3" autocomplete="email" placeholder="Email" required autofocus>
                        <input type="password" name="password" class="form-control mb-3" autocomplete="current-password" placeholder="{% trans %}Password{% endtrans %}" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="text-center my-3">
                            {% trans %}Password lost?{% endtrans %} <a href="{{ path('app_forgot_password_request') }}">{% trans %}Reset your password{% endtrans %}</a>
                        </div>

                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-primary" type="submit">{% trans %}Sign in{% endtrans %}</button> 
                            <button class="btn btn-secondary" type="reset">{% trans %}Reset{% endtrans %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}