{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-sm btn-success">{{ button_label|default('Save')|trans }}</button> 
    <button class="btn btn-sm btn-secondary" type="reset">{% trans %}Reset{% endtrans %}</button> 
    <a class="btn btn-sm btn-primary" href="{{ path('tag_admin_index') }}">{% trans %}back to lis{% endtrans %}</a>
{{ form_end(form) }}
