{% extends 'base.html.twig' %}

{% block title %}{{ site_name }}:{{ article.title }}{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Blog</h2>

                <ol>
                    <li><a href="{{ path('home') }}">{% trans %}Home{% endtrans %}</a></li>
                    <li>{% trans %}article{% endtrans %}</li>
                    <li>{{ article.title }}</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}

                    <article class="entry entry-single">

                        <div class="entry-img">
                            <img src="../uploads/images/articles/{{ article.image }}" alt="{{ article.title }}" class="img-fluid" height="400" width="500">
                        </div>

                        <h2 class="entry-title">
                            {{ article.title }}
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-person"></i>
                                    <a href="">{{ article.author }}</a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-clock"></i>
                                    <a href="">{{ article.createdAt|format_datetime('medium', 'short') }}</a>
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-chat-dots"></i>
                                    {% if (article.comment|length) <= 1  %}
                                        <a href="">{{ article.comment|length }} {% trans %}Comment{% endtrans %}</a>
                                    {% else %}
                                        <a href="">{{ article.comment|length }} {% trans %}Comments{% endtrans %}</a>
                                    {% endif %}
                                </li>
                                <li class="d-flex align-items-center">
                                    <i class="bi bi-eye"></i>
                                    <a href="">{{ article.views }} {% trans %}views{% endtrans %}</a>
                                </li>
                            </ul>
                            <ul class="mt-2">
                                <li class="d-flex align-items-center">
                                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v8.0" nonce="cjDMoHtB"></script>
                                    <div class="fb-share-button" data-href="{{ article.slug }}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ article.slug }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">{% trans %}Share{% endtrans %}</a></div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="mt-2">
                                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    </div>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="d-flex align-items-center">
                                        <a class="btn btn-warning text-dark" href="{{ path('article_edit', {'id': article.id}) }}">{% trans %}Update{% endtrans %}</a>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        {{ include('article/_delete_form.html.twig') }}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="entry-content">
                            {{ article.content|raw }}
                        </div>

                        <div class="entry-footer">
                            <i class="bi bi-folder"></i>
                            <ul class="cats">
                                {% for c in article.category %}
                                <li><a href="{{ path('category_show', {'slug': c.slug}) }}">{{ c.title }}</a></li>
                                {% endfor %}
                            </ul>

                            <i class="bi bi-tags"></i>
                            <ul class="tags">
                                {% for t in article.tag %}
                                <li><a href="{{ path('tag_show', {'slug': t.slug}) }}">{{ t.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </article><!-- End blog entry -->

                    <div class="blog-author d-flex align-items-center">
                        <img src="../uploads/images/users/{{ article.author.image }}" class="rounded-circle float-start" style="max-width: 100px; width: 100%;" alt="{{ article.author.username }}">
                        <div>
                            <h5>{% trans %}Posted by{% endtrans %} {{ article.author.username }}</h5>
                            <div class="social-links">
                                {% if article.author.twitter %}
                                <a href="{{ article.author.twitter }}"><i class="bi bi-twitter"></i></a>
                                {% endif %}
                                {% if article.author.facebook %}
                                <a href="{{ article.author.facebook }}"><i class="bi bi-facebook"></i></a>
                                {% endif %}
                                {% if article.author.instagram %}
                                <a href="{{ article.author.instagram }}"><i class="bi bi-instagram"></i></a>
                                {% endif %}
                                {% if article.author.linkedin %}
                                <a href="{{ article.author.linkedin }}"><i class="bi bi-linkedin"></i></a>
                                {% endif %}
                                {% if article.author.github %}
                                <a href="{{ article.author.github }}"><i class="bi bi-github"></i></a>
                                {% endif %}
                                {% if article.author.youtube %}
                                <a href="{{ article.author.youtube }}"><i class="bi bi-youtube"></i></a>
                                {% endif %}
                            </div>
                            <p>
                                {{ article.author.presentation|raw }}
                            </p>
                        </div>
                    </div><!-- End blog author bio -->

                    <div class="blog-comments">

                        <h4 class="comments-count">
                            {% if article.comment|length >= 2 %}
                            {{ article.comment|length }} {% trans %}comments{% endtrans %}
                            {% else %}
                            {{ article.comment|length }} {% trans %}comment{% endtrans %}
                            {% endif %}
                        </h4>

                        <!-- Comments -->
                        {% for comment in article.comment %}

                        {% if comment.parent == null %}
                        <div class="comment">
                            <div class="d-flex">
                                <div class="border px-3 pt-3">
                                    <h5>
                                        {{ comment.nickname }}
                                        <a href="#reply-comment" data-reply data-id={{ comment.id }} class="reply">
                                            <i class="bi bi-reply-fill"></i> {% trans %}Reply{% endtrans %}
                                        </a>
                                    </h5>
                                    <time datetime="{{ comment.createdAt|format_datetime('medium', 'short') }}">
                                        {{ comment.createdAt|format_datetime('medium', 'short') }}
                                    </time>
                                    <p>
                                        {{ comment.content|raw }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        {# show reply #}
                        {% for reply in comment.replie %}
                        <div class="comment comment-reply">
                            <div class="d-flex">
                                <div class="border px-3 pt-3">
                                    <h5>
                                        {{ reply.nickname }}
                                    </h5>
                                    <div>
                                        <time datetime="{{ reply.createdAt|format_datetime('medium', 'short') }}">
                                            {{ reply.createdAt|format_datetime('medium', 'short') }}
                                        </time>
                                    </div>
                                    <p>
                                        {{ reply.content|raw }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% endif %}

                        {% endfor %}

                        <div id="reply-comment" class="reply-form mt-5">
                            <h4>{% trans %}Leave a Reply{% endtrans %}</h4>
                            <p>{% trans %}Your email address will not be published.{% endtrans %}</p>
                            {{ form_start(commentForm) }}
                                {#{ form_widget(commentForm) }#}
                                {% trans %}Email{% endtrans %}:<br>
                                {{ form_row(commentForm.email, {'label': false}) }}
                                {% trans %}Name{% endtrans %}:<br>
                                {{ form_row(commentForm.nickname, {'label': false}) }}
                                {% trans %}Content{% endtrans %}:<br>
                                {{ form_row(commentForm.content, {'label': false}) }}
                                <table class="mb-3">
                                    <tr>
                                        <td width="5%">
                                            {{ form_row(commentForm.rgpd, {'label': false}) }}
                                        </td>
                                        <td>
                                            {% trans %}Agree terms of service{% endtrans %}
                                        </td>
                                    </tr>
                                </table>
                                {% trans %}Copy antispam code{% endtrans %}:<br>
                                {{ form_row(commentForm.captcha, {'label': false}) }}
                                <div class="mt-2">
                                    <button class="btn btn-sm btn-success">{% trans %}Send message{% endtrans %}</button>
                                    <button class="btn btn-sm btn-secondary" type="reset">{% trans %}Reset{% endtrans %}</button>
                                </div>
                            {{ form_end(commentForm) }}
                        </div>

                    </div><!-- End blog comments -->

                </div><!-- End blog entries list -->

                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}

            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        // Listener event on each Reply button
        document.querySelectorAll("[data-reply]").forEach(element => {
            element.addEventListener("click", function () {
                document.querySelector("#comment_parentid").value = this.dataset.id;
            });
        });
    }
</script>
{% endblock %}