{% extends 'base.html.twig' %}

{% block title %}{{ site_name }}: {% trans %}user index{% endtrans %}{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>{% trans %}User{% endtrans %}</h2>

                <ol>
                    <li><a href="{{ path('home') }}">{% trans %}Home{% endtrans %}</a></li>
                    <li><a href="{{ path('admin') }}">Admin</a></li>
                    <li>{% trans %}User index{% endtrans %}</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row d-flex justify-content-center mb-5">
                <div class="col">
                    <h1>{% trans %}User index{% endtrans %}</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>{% trans %}Roles{% endtrans %}</th>
                                <th>{% trans %}Username{% endtrans %}</th>
                                <th>Image</th>
                                <th>{% trans %}Verified{% endtrans %}</th>
                                <th width="11%"></th>
                                <th width="4%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% if user.roles|json_encode == '["ROLE_USER"]' %}
                                        <span class="text-primary fw-bold">{% trans %}User{% endtrans %}</span>
                                    {% else %}
                                        <span class="text-danger fw-bold">Admin</span>
                                    {% endif %}
                                    {#{ user.roles ? user.roles|json_encode : '' }#}
                                </td>
                                <td>{{ user.username }}</td>
                                <td>
                                    {% if user.image %}
                                        {% trans %}Yes{% endtrans %}
                                    {% else %}
                                        {% trans %}No{% endtrans %}
                                    {% endif %}
                                </td>
                                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                                <td>
                                    <a class="btn btn-sm btn-info" href="{{ path('user_show', {'id': user.id}) }}">{% trans %}show{% endtrans %}</a>
                                    <a class="btn btn-sm btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">{% trans %}edit{% endtrans %}</a>
                                </td>
                                <td>
                                    {{ include('user/_delete_form.html.twig') }}
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="8">{% trans %}no records found{% endtrans %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <a class="btn btn-success" href="{{ path('user_new') }}">{% trans %}Create new user{% endtrans %}</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}